@import "../../../../global-variables";

:host {

}

.morse-frame {
  width: auto;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;

  .inner-frame {
    line-height: 24px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding-left: 5px;
    padding-right: 5px;

    border-width: 3px;
    border-color: $longBreakColor;
    border-style: solid;
  }

  &.size-auto {
    width: auto;
  }

  &.size-short {
    width: $shortFrameSize;
  }

  &.size-tiny {
    width: $tinyFrameSize;
  }

  &.type-timestamp {
    font-size: 11px;
    .inner-frame {
      border-style: dotted;
    }
  }

  &.type-timediff {
    font-size: 14px;
    .inner-frame {
      border-style: dashed;
    }
    // short morse
    .inner-frame[title^='-'] {
      color: $red;
    }
  }

  &.type-character {
    // short morse
    .inner-frame[title='.'] {
      border-color: $shortMorseColor;
    }
    // long morse
    .inner-frame[title='-'] {
      border-color: $longMorseColor;
    }
    // short break
    .inner-frame[title='+'] {
      border-color: $shortBreakColor;
    }
    // long break
    .inner-frame[title='*'] {
      border-color: $longBreakColor;
    }
  }

  &.type-letter {
    .inner-frame[title='ERROR'] {
      color: $red;
    }
  }

}
