@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../global-variables';

:host {
  display: block;
  margin-top: 15px;
}

.reset {
  margin-right: 5px;
}

.card-block {
  display: none;
  &.show {
    display: block;
  }
}

.stream {
  width: 100%;
  min-height: 50px;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;
  padding-top: 5px;

  &.off-1 {
    morse-frame:first-child {
      padding-left: $defaultFrameSize;

      &.size-short {
        padding-left: $defaultFrameSize;
      }

      &.size-tiny {
        padding-left: $tinyFrameSize;
      }
    }
  }
}
