<div class="card">
  <div class="card-header">
    <!--
    <button
      type="button"
      class="btn  pull-left btn-sm btn-secondary dropdown-toggle" (click)="toggleOpen()">
    </button>
    -->
    <button
      class="reset btn btn-sm btn-outline btn-outline-danger pull-left"
      (click)="reset()">
      <i class="fa fa-remove"></i>
    </button>
    <ng-content></ng-content>
  </div>
  <div class="card-block" [ngClass]="{'show':isOpen}">
    <div class="stream {{offset ? 'off-'+offset : ''}}" #stream>
      <morse-frame
        *ngFor="let s of signals"
        [size]="size"
        [signalType]="signalType"
        [signal]="s">
      </morse-frame>
    </div>

  </div>
</div>
