
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../global-variables';

:host {
  display: block;
}

.stream {
  width: 100%;
  min-height: 50px;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;
  border: 1px solid $gray-300;

  &.offset-1 {
    morse-frame:first-child {
      margin-left: $defaultFrameSize;

      &.size-short {
        margin-left: $defaultFrameSize;
      }

      &.size-tiny {
        margin-left: $tinyFrameSize;
      }
    }
  }
}
