<h1>Morse Code RX</h1>

<button class="btn btn-outline btn-outline-danger btn-lg" (click)="resetAll()">
  <i class="fa fa-remove"></i>
</button>

<morse-speaker [isPlaying]="isSending$ | async">
</morse-speaker>

<morse-button
  (mouseDownChange)="sendStartSignal()"
  (mouseUpChange)="sendStopSignal()">
</morse-button>

<morse-display [signal]="startEvents$" [signalType]="'timestamp'">
  <h4>StartEvents</h4>
</morse-display>
<!--
<morse-display [signal]="stopEvents$" [signalType]="'timestamp'"
  [offset]="1">
  <h4>StopEvents</h4>
</morse-display>

<morse-display [signal]="morseChar$" [signalType]="'character'"
  [size]="'short'" [offset]="1">
  <h4>MorseCode Characters</h4>
</morse-display>
<morse-display [signal]="morseSymbol$" [signalType]="'symbol'"
  [size]="'auto'" [offset]="1">
  <h4>MorseCode Symbol</h4>
</morse-display>

<morse-display [signal]="morseLetter$" [signalType]="'letter'"
  size="auto" [offset]="1">
  <h4>Letter</h4>
</morse-display>
-->
