<div class="row">
  <div class="col col-xs-12">
    <h4>Timestamp</h4>
    <ul class="legend list-unstyled">
      <li>
        <morse-frame
          [signalType]="'timestamp'"
          [signal]="timestamp"></morse-frame>
      </li>
    </ul>
    <h4>Morse Durations</h4>
    <ul class="legend list-unstyled">
      <li>
        Sending:
        <morse-frame
          [size]="'short'"
          [signalType]="'timediff'"
          [signal]="186"></morse-frame>
      </li>
      <li>
        Waiting:
        <morse-frame
          [size]="'short'"
          [signalType]="'timediff'"
          [signal]="-325"></morse-frame>
      </li>

    </ul>
  </div>
  <div class="col col-xs-12">
    <h4>Morse Characters</h4>
    <ul class="legend list-unstyled">
      <li>
        Short Morse:
        <morse-frame
          [size]="'short'"
          [signalType]="'character'"
          [signal]="'.'"></morse-frame>
      </li>
      <li>
        Long Morse:
        <morse-frame
          [size]="'short'"
          [signalType]="'character'"
          [signal]="'-'"></morse-frame>
      </li>

      <li>
        Short Break:
        <morse-frame
          [size]="'short'"
          [signalType]="'character'"
          [signal]="'+'"></morse-frame>
      </li>

      <li>
        Long Break:
        <morse-frame
          [size]="'short'"
          [signalType]="'character'"
          [signal]="'*'"></morse-frame>
      </li>
    </ul>
  </div>
  <div class="col col-xs-12">
    <h4>Sympol</h4>
    <ul class="legend list-unstyled">
      <li>
        <morse-frame
          [size]="'short'"
          [signalType]="'symbol'"
          [signal]="'.-..'"></morse-frame>
      </li>
    </ul>
    <h4>Letter</h4>
    <ul class="legend list-unstyled">
      <li>
        <morse-frame
          [size]="'tiny'"
          [signalType]="'letter'"
          [signal]="'A'"></morse-frame>
      </li>
    </ul>
  </div>
</div>
